<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <title>{% block title %}Kuizpedia{% endblock %}</title>
    </head>

  <header>
    <header class="navbar">
    <div class="navbar-left">
        <div class="logo"><a href="{{ url_for('kuiz.dashboard') }}">Kuizpedia</a></div>
    </div>
    <div class="navbar-right">
        {% if username %}
            <span class="welcome">Welcome, {{ username }}!</span>
            <a href="{{ url_for('auth.logout') }}" class="btn-logout">Logout</a>
        {% elif show_navbar %}
            <a href="{{ url_for('auth.login_get') }}">login</a>
            <a href="{{ url_for('auth.signup_get') }}">signup</a>
        {% endif %}
    </div>
  </header>

  <main class="main-wrapper">
    </main>
    
    <body>
<div style="position: absolute; top: 10px; right: 10px;">
  {% if username %}
    Welcome, {{ username }}!
    <form action="{{ url_for('auth.logout') }}" method="POST" style="display:inline;">
      <button type="submit">Logout</button>
    </form>
  {% endif %}
</div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages" id="flash_id">
          {% for message in messages %}
            <p class="flash-messages-text">{{ message }}</p>
            <a onclick='removeFlash()' style="display:inline; margin-inline: 20px; cursor: pointer;">×</a>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


    {% block body %}
    {% endblock %}

<script>
function removeFlash() {
  const element = document.getElementById('flash_id');
  element.remove();
}
</script>
</body>
</html>