{% extends 'base.html' %}

{% block title %}Select Category - Kuizpedia{% endblock %}


{% block body %}
<h1>Select a Quiz Category</h1>
<a href="{{ url_for('kuiz.add_category_form') }}">
    <button>Add New Category</button>
</a>

<div style="margin-top: 20px;">
  <form action="{{ url_for('kuiz.dashboard') }}" method="get" style="display:inline;">
    <button type="submit">🏠 Back to Dashboard</button>
  </form>
</div>

<ul>
    {% for category in categories %}
<li>
    <strong>{{ category.name }}</strong>

    <form action="{{ url_for('kuiz.choose_timer') }}" method="GET" style="display: inline;">
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <button type="submit" class="btn btn-primary">Answer Questions</button>
    </form>

    <form action="{{ url_for('kuiz.edit_category_form', category_id=category.id) }}" method="GET" style="display: inline;">
        <button type="submit" class="btn btn-secondary">Edit Category</button>
    </form>

    <form method="POST" action="{{ url_for('kuiz.delete_category', category_id=category.id) }}" 
          onsubmit="return confirm('Are you sure you want to delete this category? All associated questions will also be deleted?');"
          style="display: inline;">
        <button type="submit" class="btn btn-danger">🗑 Delete</button>
    </form>
</li>
    {% endfor %}
</ul>
{% endblock %}