{% extends 'base.html' %}

{% block title %}Choose Timer{% endblock %}

{% block body %}
<div class="quiz-timer-container">
    {% if visible_questions %}
        <h2>Start Quiz: {{ category.name }}</h2>

        <form class="quiz-form" action="{{ url_for('kuiz.start_quiz') }}" method="GET">
            <input type="hidden" name="category_id" value="{{ category.id }}">

            <label for="timer">Enter your custom time (in minutes):</label>
            <input type="number" id="timer" name="timer" min="1" max="60" value="1" required>
            <small>(1 minute to 60 minutes max)</small>

            <label for="visibility">Filter by:</label>
            <select name="visibility" id="visibility" required>
                <option value="all">All Decks (Default)</option>
                <option value="personal">Personal Deck</option>
                <option value="public">Public Deck</option>
            </select>

            <label for="num_questions">Number of questions:</label>
            <input type="number" id="num_questions" name="num_questions" min="1" max="{{ visible_questions }}" required>

            <div class="button-group">
                <button type="submit" class="btn-start">Start Quiz</button>
                <a href="{{ url_for('kuiz.answer') }}" class="btn-secondary">Back to Categories</a>
            </div>
        </form>
    {% else %}
    <p class="no-attempts">There are no questions in this category yet. Add a question <a href="{{ url_for('kuiz.create_question_form', category_id=category.id) }}">here!</a></p>
    {% endif %}
</div>

<script>
    function updateMaxQuestions(visibleQuestions) {
        const numQuestionsInput = document.getElementById('num_questions');
        if (numQuestionsInput) {
            numQuestionsInput.max = visibleQuestions;
            if (parseInt(numQuestionsInput.value) > visibleQuestions) {
                numQuestionsInput.value = visibleQuestions;
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateMaxQuestions({{ visible_questions }});
        document.getElementById('visibility').addEventListener('change', function () {
            const visibility = this.value;
            const categoryId = document.querySelector('input[name="category_id"]').value;
            fetch(`/filter-question?category_id=${categoryId}&visibility=${visibility}`)
                .then(response => response.json())
                .then(data => {
                    updateMaxQuestions(data.count);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
{% endblock %}
