{% extends 'base.html' %}

{% block title %}Create Question - Kuizpedia{% endblock %}

{% block body %}
<h2>Create a New Question</h2>
<form method="POST" action="{{ url_for('kuiz.create_question') }}">
    <label>Question Text:</label><br>
    <input type="text" name="question_text" required><br><br>

    <label>Options:</label><br>
    <input type="text" name="options" placeholder="Add option:" required>
    <div id="options"></div>
    <br><button type="button" class="btn-add_option" id="btn-add_option">Add option</button><br><br>

    <label>Answer:</label><br>
    <input type="text" name="answer" required><br><br>

    <label>Category:</label><br>
    <select name="kuiz_id" required>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="visibility">Visibility:</label>
    <select name="visibility" id="visibility" required>
        <option value="personal">Personal Deck</option>
        <option value="public">Public Deck</option>
    </select>

    <button type="submit">Add Question</button>
</form>

{% if category_id %}
  <form action="{{ url_for('kuiz.edit_category_form', category_id=category_id) }}">
    <button type="submit">Go Back to Edit Category</button>
  </form>
{% endif %}

<script>
    document.getElementById('btn-add_option').addEventListener('click', function() {
      const group = document.createElement('div');
      group.style.marginTop = '5px';
      const input = document.createElement('input');
      input.type = 'text';
      input.name = 'options';
      input.placeholder = 'Add option:';
      input.required = true;
      input.style.display = 'block';
      document.getElementById('options').appendChild(input);
      const delete_option = document.createElement('button');
      delete_option.type = 'button';
      delete_option.id = 'btn-delete_option';
      delete_option.innerText = "Delete Option";
      document.getElementById('options').appendChild(delete_option);

      delete_option.addEventListener('click', function() {
      document.getElementById('options').removeChild(group);
    });

      group.appendChild(input);
      group.appendChild(delete_option);
      document.getElementById('options').appendChild(group);
    });

</script>

{% endblock %}