{% extends 'base.html' %}

{% block title %}Create Question - Kuizpedia{% endblock %}

{% block body %}
<h2>Create a New Question</h2>
<form method="POST" action="{{ url_for('kuiz.create_question') }}">
    <label>Question Text:</label><br>
    <input type="text" name="question_text" required><br><br>

    <label>Options (comma-separated):</label><br>
    <input type="text" name="options" required><br><br>

    <label>Answer:</label><br>
    <input type="text" name="answer" required><br><br>

    <label>Category:</label><br>
    <select name="kuiz_id" required>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Add Question</button>
</form>

{% if category_id %}
  <form action="{{ url_for('kuiz.edit_category_form', category_id=category_id) }}">
    <button type="submit">Go Back to Edit Category</button>
  </form>
{% endif %}

{% endblock %}