{% extends 'base.html' %}

{% block title %}Dashboard - Kuizpedia{% endblock %}

{% block body %}
<div class="dashboard-center">
<h1>Welcome back, {{ username }} !</h1>
<p>What would you like to do today?</p>

<div class="quiz-actions">
        <form action="{{ url_for('kuiz.answer') }}" method="GET">
            <button type="submit" class="quiz-btn">🧠 Attempt Quiz</button>
        </form>

        <form action="{{ url_for('kuiz.past_attempts') }}" method="GET">
            <button type="submit" class="quiz-btn">📜 View Past Attempts</button>
        </form>

        <form action="{{ url_for('kuiz.show_categories') }}" method="GET">
            <button type="submit" class="quiz-btn">✍🏼 Create a New Quiz</button>
        </form>
</div>

{% endblock %}