{% extends 'base.html' %}

{% block title %}Dashboard - Kuizpedia{% endblock %}

{% block body %}
<h1>Welcome back, {{ session['username'] }} !</h1>
<p>What would you like to do today?</p>

<div style="margin-top: 30px;">
    <form action="{{ url_for('kuiz.past_attempts') }}" method="GET" style="display:inline;">
        <button type="submit">📜 View Past Attempts</button>
    </form>
</div>

<div style="margin-top: 20px;">
    <form action="{{ url_for('kuiz.show_categories') }}" method="GET" style="display:inline;">
        <button type="submit">🧠 Start a New Quiz</button>
    </form>
</div>
{% endblock %}