{% extends 'base.html' %}

{% block body %}

{% for message in get_flashed_messages() %}
    {{message}}
{% endfor %}

<div class="container">
    <h1>Login</h1>
    <form id = 'auth-form' action="{{url_for('login')}}" method = 'post'>
        <br><input type="text" name="username" placeholder="username" class="input-field" required/>
        <br><input type="password" name="password" placeholder="password" class="input-field" required/>
        <br><input type="submit" value="Login" class="btn-login" onclick="setActionForm('login')"/>
        <br><label>Forgot your password? Reset here.<input type="button" value="Forgot Password" class="btn-forgotpassword" onclick="window.location.href=`{{url_for('forgot1')}}`"/></label>
        <br><label>New user? Register here.<input type="button" value="Signup" class="btn-signup" onclick="window.location.href=`{{url_for('signup1')}}`"/></label>
    </form>
</div>

<script>
    function setActionForm(action){
        let form = document.getElementById('auth-form')
        if (action === 'login'){
            form.action = "{{url_for('login')}}";
            form.method = "post";
            form.submit();
        }
    }


</script>
</div>

{% endblock %}