{% extends 'base.html' %}

{% block title %}Login - Kuizpedia{% endblock %}

{% block body %}
<div class="container">
    
    <h1>Login</h1>
    <form id="auth-form" action="{{ url_for('auth.login_post') }}" method="post">
        <input type="text" name="username" placeholder="Username" class="input-field" required/>
        <input type="password" name="password" placeholder="Password" class="input-field" required/>
        <input type="submit" value="Login" class="btn-login"/>
    </form>

    <br>
    <div>
        Forgot your password? 
        <button type="button" class="btn-forgotpassword" id="btn-forgot">Reset Here</button>
    </div>
    <br>
    <div>
        New user? 
        <button type="button" class="btn-signup" id="btn-signup">Signup</button>
    </div>

</div>

<script>
    document.getElementById('btn-forgot').addEventListener('click', function() {
        window.location.href = "{{ url_for('auth.forgot_password_get') }}";
    });

    document.getElementById('btn-signup').addEventListener('click', function() {
        window.location.href = "{{ url_for('auth.signup_get') }}";
    });
</script>
{% endblock %}