{% extends 'base.html' %}

{% block body %}

{% for message in get_flashed_messages() %}
    {{message}}
{% endfor %}

<div class="container">
    <h1>Welcome</h1>
    <form id = 'auth-form' action="{{url_for('login')}}" method = 'post'>
        <input type="text" name="username" placeholder="username" class="input-field" required/>
        <input type="password" name="password" placeholder="password" class="input-field" required/>
        <input type="submit" value="Login" class="btn btn-login" onclick="setActionForm('login')"/>
        <input type="button" value="Reset Password" class="btn btn-resetpassword" onclick="setActionForm('reset')"/>
        <input type="button" value="Signup" class="btn btn-signup" onclick="window.location.href=`{{url_for('signup1')}}`"/>
    </form>
</div>

<script>
    function setActionForm(action){
        let form = document.getElementById('auth-form')
        if (action === 'login'){
            form.action = "{{url_for('login')}}";
            form.method = "post";
            form.submit();
        }
        else if (action === "reset"){
            /////////////////////////////////////////////////
        }
    }


</script>

{% endblock %}