{% extends 'base.html' %}

{% block title %}Past Attempts{% endblock %}

{% block body %}
<h1>Your Past Quiz Attempts</h1>

<ul>
  {% for attempt in attempts %}
    <li>
      Quiz: {{ attempt.kuiz.name }} - Score: {{ attempt.score }}/{{ attempt.total }} 
        <a href="{{ url_for('kuiz.review_attempt', attempt_id=attempt.id) }}">Review</a>
    </li>
  {% else %}
    <li>You have no past attempts.</li>
  {% endfor %}
</ul>

<div style="margin-top: 20px;">
    <a href="{{ url_for('kuiz.dashboard') }}" class="btn btn-secondary">🏠 Back to Dashboard</a>
</div>

{% endblock %}